@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: local('Oswald Medium'), local('Oswald-Medium'), url('https://fonts.gstatic.com/s/oswald/v22/TK3iWkUHHAIjg75cFRksZyxzUw3F6aJLmZfq9w.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: #FFD700;
    text-align: center;
    padding: 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon,
.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

.logo img {
    max-height: 90px;
}

.nafabout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #FFD700;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #FFD700;
}

/* Add styles to push the content when the sidebar is open */
.header.push-content {
    margin-left: 250px;
}

/* Add styles to close the sidebar on smaller screens */
@media screen and (max-width: 600px) {
    .header.push-content {
        margin-left: 0;
    }

    .sidebar {
        width: 80%; /* Set a fixed width for the sidebar */
        max-width: 300px; /* Set a maximum width if needed */
    }

    .sidebar a {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

.nafaboutwords {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #FFD700;
}

.nafaboutwords h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.nafaboutwordsbody {
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    text-align: center;
}

.nafpic {
    max-width: 100%;
    height: auto;
}

/* Merchandise styles */
.merch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.merch-item {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    margin: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden;
}

.merch-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.merch-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.merch-item:hover p {
    opacity: 1;
}

.merch-item:hover {
    transform: scale(1.1);
}

.enlarged-merch {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.enlarged-merch img {
    max-width: 80%;
    max-height: 80%;
}

/* Training plan styles */
.training-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.training-plan {
    flex: 0 1 calc(30% - 20px);
    margin: 10px;
    cursor: pointer;
    position: relative;
    max-height: 400px;
}

.training-plan img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border: 1px solid #ddd;
    transition: transform 0.3s;
    margin-bottom: 10px;
}

.training-plan:hover img {
    transform: scale(1.1);
}

.training-plan-text {
    max-width: 80%;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
}

/* Add some margin between the image and the text */
.training-plan-text h2,
.training-plan-text p {
    margin: 3;
}

.training-plan:hover .training-plan-text {
    opacity: 1;
}

/* Enlarged training plan styles */
.enlarged-training-plan {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.enlarged-training-plan img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.enlarged-training-plan-text {
    max-width: 80%;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: white;
    margin-top: 20
}
